@{
    ViewData["Title"] = "Cadastro de Deficientes";
}

<div class="text-center">
    @* <img src="~/images/logo.png" alt="Logo" class="img-fluid" style="max-width: 150px; height: auto;"> *@
    <h1 class="mt-4">Lista de Cadastro</h1>
    <div class="mt-5">
        <table id="dataTable" border="1" class="border">
            <thead>
                <tr>
                    <th>CPF</th>
                    <th>Nome</th>
                    <th>Data de Nascimento</th>
                    <th>Deficiente em Domicílio</th>
                    <th>Deficiente Possui Laudo</th>
                    <th>Descritivo do Laudo</th>
                    <th>Possui Qual Deficiência</th>
                    <th>Faz Reabilitação</th>
                    <th>Reabilitação Detalhes</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <script src="~/indexedDB.js"></script>
    <script src="~/js/cadastro/lista/index.js"></script>
</div>
