@{
    ViewData["Title"] = "Cadastro de Deficientes";
}

<div class="text-center">
    @* <img src="~/images/logo.png" alt="Logo" class="img-fluid" style="max-width: 150px; height: auto;"> *@
    <h1 class="mt-4">Cadastro de Deficientes</h1>
    <div class="mt-5">
        <a href="/Deficiente/Lista" class="btn btn-primary btn-lg mb-2">Lista de Cadastrados</a>
        <a href="/Deficiente/Cadastro" class="btn btn-success btn-lg mb-2">Cadastrar</a>
        <a href="/Sincronizar" class="btn btn-info btn-lg mb-2">Sincronizar Dados</a>
    </div>
</div>
